article {
  background-color:#FEEFA1;
  box-shadow: 6px 8px 0px 0px rgba(0,0,0,0.4);
  transition: 0.3s;
  border-radius: 0;
  padding: 15px;
  margin-bottom: 1rem;
  border: 2px solid $font-color;
  padding-bottom:1em;
  > .info-page{
    padding-top: 1rem;
  }
}

/* Menambah efek hover pada card */
article:hover {
  box-shadow: 0 8px 24px 0 rgba(0,0,0,0.1);
}


.info-page{
  padding-bottom: 1rem;
  padding-top: 1rem;
  
  
}
.hr-article{
  border-top: 2px solid black;
  margin-top: 1rem;
}
.list-article{
  border: 2px solid $font-color;
}
img{
  padding:0;
  margin:0;
}