
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

//regular text
@mixin f-regular{
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin f-medium{
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

@mixin f-semibold{
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

@mixin f-bold{
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

p{
  @include f-regular;
  line-height:1.7;
  padding-top: 0.5em;
  padding-bottom: 0;
  
}

h1 {
  
  font-size: 1.8em;
  margin-bottom: 12px ;
}

h2, h3, h4, h5, h6 {
  line-height: 1.1;
  margin-bottom: 6px;
  margin-top: 6px;
}

h1, h2, h3, h4, h5, h6,th {
  @include f-bold;
}
b, strong{
  @include f-semibold;
}

.smal{
  font-weight: 400; font-size:0.8em
}