.sidebar {
  width: 100%;
  padding: 1rem;
  background-image: radial-gradient(circle at center center, rgba(33,33,33,0),rgb(33,33,33)),repeating-linear-gradient(135deg, rgb(33,33,33) 0px, rgb(33,33,33) 1px,transparent 1px, transparent 4px),repeating-linear-gradient(45deg, rgb(56,56,56) 0px, rgb(56,56,56) 5px,transparent 5px, transparent 6px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));
  //background-color: $font-color;
  color: #fff;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li.article-item {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid black;
  padding: 1rem;
  padding-left: 0;
  
  
}

.sidebar .article-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 1rem;
}

.sidebar a {
  display: block;
  padding-top:0;
  text-decoration: none;
  color: white;
  flex: 1;
}

.sidebar a:hover {
  background-color: #eee;
}