<hr class="hr-article">
<div class="info-page">
    <div class="date"> 
    <strong>Tanggal..........: </strong> 			<time datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{ .Date.Format "02.01.2006 15:04" }}</time>
    </div>
  
    <div class="tags">
     <strong>Tags...............:  </strong>{{- with .Params.tags -}}
          {{- if ge (len .) 1 -}}
              {{- range . -}}
                  <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}/">{{ . }}</a>, 
              {{ end -}}
          {{- end -}}
      {{- end -}}
    </div>
    
  <div class="kategori">
    <strong>Kategori.........: </strong>{{ or .Params.categies .Site.Params.mainSections }}
  </div>
  </div>